<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/usuario/contas/cadastroStyle.css">
    <link rel="stylesheet" href="/style/usuario/contas/scriptsStyle.css">
    <link rel="stylesheet" href="/style/usuario/recursosBasicos.css">
    <link rel="icon" href="/imagens/livro-16.ico">
</head>
<body>

    <header>
        <nav class="main-nav">
            <a class="home-link">Home</a>
            <div class="nav-botao">
                <button>Histórico</button>
                <button id="botao-carrinho">Carrinho</button>
                <button id="botao-chatbot-navbar">Chatbot</button>
            </div>
        </nav>
        
        <nav class="usuario-nav">
            <div class="notificacao-container">
                <img src="/imagens/notificacao.png" alt="Notificações" class="notificacao-icone" hidden>
                <div class="notificacao-submenu">
                    <div class="notificacoes-lista"></div>
                </div>
            </div>

            <div class="barra-pesquisa">
                <input type="text" id="navbarInput" placeholder="Pesquisar...">
                <button id="navbarBotaoPesquisa">🔍</button>
            </div>
            
            <div class="usuario-sessao">
                <span class="usuario-nome" id="user-name-display"></span>
                <img src="/imagens/avatar.jpg" alt="Imagem do usuário" class="usuario-imagem">
            </div>
        </nav>
    </header>

    <div class="main">
        <!--Barra lateral de Navegação-->
        <div class="sidenav">
            <a id="cadastro-side-btn">Cadastrar</a>
            <a id="senha-side-btn">Atualizar Senha</a>
            <a id="atualizar-side-btn">Atualizar Cadastro</a>
            <a id="cartao-side-btn">Cartões</a>
            <a id="end-entrega-side-btn">End. Entrega</a>
            <a id="end-cobranca-side-btn">End. Cobranca</a>
        </div>

        <div class="conteudo">
            <!-- Título Principal -->
            <div class="bloco_titulo">
                <h1 class="titulo">Atualizar Usuario</h1>
            </div>

            <form method="POST">
                <div class="container-forms">
                    <!-- Informações Pessoais -->
                    <div class="usuario">

                        <!-- Nome -->
                        <div class="linha_centralizada">
                            <div class="nome">
                                <label class="label" for="nome">Nome Completo</label>
                                <input class="nome_input" type="text" id="nome" name="nome" value="<%=usuario[0].usr_nome%>" required>
                            </div>
                        </div>
                        

                        <!-- Email -->
                        <div class="linha_centralizada">
                            <div class="email">
                                <label class="label" for="email">E-mail</label>
                                <input class="email_input" type="email" id="email" name="email" value="<%=usuario[0].usr_email%>" required>
                            </div>  
                        </div>
                        

                        <!-- Telefone 1 -->
                        <div class="linha_centralizada">
                            <div class="telefone">
                                <label class="label_pequena" for="telefone1">Telefone 1</label>
                                <input class="telefone_input" type="number" id="telefone1" name="telefone1" value="<%=usuario[0].usr_telefone_1%>" required>
                            </div>
                        </div>
                        

                        <!-- Telefone 2 -->
                        <div class="linha_centralizada">
                            <div class="telefone">
                                <label class="label_pequena" for="telefone2">Telefone 2</label>
                                <input class="telefone_input" type="number" id="telefone2" name="telefone2" value="<%=usuario[0].usr_telefone_2 ? usuario[0].usr_telefone_2 : [] %>">
                            </div>  
                        </div>
                        

                        <!-- CPF -->
                        <div class="linha_centralizada">
                            <div class="cpf">
                                <label class="label" for="cpf">CPF</label>
                                <input class="cpf_input" type="text" id="cpf" name="cpf" value="<%=usuario[0].usr_cpf%>" required>
                            </div>
                        </div>
                        

                        <!-- Gênero -->
                        <!--Input de Gênero-->
                        <div class="genero">
                            <label class="label_genero">Gênero</label>
                            <select class="selecao" id="genero" name="genero" required>
                                <option value="">Selecione</option>
                                <option value="M" <%= usuario[0].usr_genero === 'M' ? 'selected' : '' %>>Masculino</option>
                                <option value="F" <%= usuario[0].usr_genero === 'F' ? 'selected' : '' %>>Feminino</option>
                                <option value="NB" <%= usuario[0].usr_genero === 'NB' ? 'selected' : '' %>>Não Binário</option>
                            </select>
                        </div>

                        <!-- Data de Nascimento -->
                        <div class="linha_centralizada">
                            <div class="data_div">
                                <label class="label_pequena" for="data">Data de Nascimento</label>
                                <% let dataFormatada = '';
                                if (usuario[0].usr_data_de_nascimento) {
                                    let date = new Date(usuario[0].usr_data_de_nascimento);
                                    if (!isNaN(date.getTime())) {
                                        dataFormatada = date.toISOString().split('T')[0];
                                    }
                                }
                                %>
                                <input type="date" id="data" name="data" value="<%=dataFormatada%>" required>
                            </div>
                        </div>
                        

                        <!-- Senha -->
                        <div class="linha_centralizada">
                        <div class="senha">
                            <label class="label" for="senha">Senha</label>
                                <div class="erro_div">
                                    <input class="senha_input" type="password" id="senha" name="senha" value="" required>
                                    <span id="erroSenha" class="erro" style="color: red; display: none;">*</span>
                                </div>
                            </div>
                        </div>
                        

                        <!-- Confirmação de Senha -->
                        <div class="linha_centralizada">
                            <div class="senha">
                                <label class="label" for="conf_senha">Confirme a Senha</label>
                                <div class="erro_div">
                                    <input class="senha_input" type="password" id="conf_senha" name="conf_senha" value="" required>
                                    <span id="erroConfSenha" class="erro" style="color: red; display: none;">*</span>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <!-- Botão de Confirmação -->
                    <div class="botoes">
                        <button type="submit">Confirmar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="chat">
    <div class="header">
        <h3>Assistente Virtual</h3>
        <button class="close-chat">X</button>
    </div>
    <div class="screen"></div>
    <div class="input">
        <input type="text" placeholder="Digite sua mensagem...">
        <button id="ai-button">Enviar</button>
    </div>
    </div>

    <script type="module" src="/scripts/contas/usuario/atualizarUsuario.js"></script>
    <script type="module" src="/scripts/base/usuario/navbar.js"></script>
    <script type="module" src="/scripts/base/usuario/aiChatBot.js"></script>
    <script type="module" src="/scripts/contas/usuario/sidebar.js"></script>
</body>
</html>