<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Cartões Cadastrados</title>
</head>
<body>
    <div class="voltar"><a href="/">Voltar</a></div>

    <div class="main">
        <div class="main-cartoes">
            <div class="bloco_titulo">
                <h1 class="titulo">Cartões</h1>
            </div>
            
            <div class="preferencia-cartao">
                <label>Preferencia</label>
                <select name="preferencia" id="preferencia">
                    <% cartoes.forEach(cartoes => { %>

                        <option value=""><%=${cartoes.crt_bandeira}-${cartoes.crt_numero.slice(-4)}%></option>

                    <% }); %>
                </select>
            </div>

            <% cartoes.forEach(cartao => { %>

                <div class="cartoes-mostrado">
                    <div class="cartoes-main">
                        <p class="invisible cartoes-id"><%=cartoes.crt_id%></p>
                        <h2><%=cartao.crt_bandeira%></h2>
                        <p><%=cartao.crt_nome%></p>
                        <p><strong>Final: </strong><%=cartoes.crt_numero.slice(-4)%></p>
                    </div>
                    <div class="acoes-cartoes">
                        <a class="atualizar" href="#">Atualizar</a>
                        <a href="">excluir</a>
                    </div>
                </div>

            <% }); %>

            <div class="cartoes-adicionar">
                <a href="/cartao/<%=cartoes[0].usr_id%>/adicionar">Adicionar novo cartão</a>
            </div>
        </div>
    </div>

    <script type="module" src="/scripts/cartao.js"></script>
</body>
</html>