<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Endereço de Cobrança</title>
</head>
<body>
    <div class="voltar"><a href="/">Voltar</a></div>

    <div class="main">
        <div class="container-endereco">
            <div class="bloco_titulo">
                <h1 class="titulo"> Endereço de Cobranca</h1>
            </div>

            <br>

            <div class="genero">
                    <label class="label_genero" for="cbr">Endereços</label>
                    <select class="selecao" name="cobranca" id="cbr">
                        <% enderecos.forEach(endereco => { %>
                            <option value="<%=endereco.end_endereco%>"><%=endereco.end_endereco%></option>
                        <% }); %>
                    </select>
            </div>

            <div class="table_div">
                <table>
                    <thead>
                        <tr>
                            <th>Endereço</th>
                            <th>Bairro</th>
                            <th>Estado</th>
                            <th>CEP</th>
                            <th>Número</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% enderecos.forEach(endereco => { %>
                            <tr class="endereco-mostrado">
                                <td class="endereco-id"><%= endereco.end_id %></td>
                                <td><%= endereco.end_endereco %></td>
                                <td><%= endereco.end_bairro %></td>
                                <td><%= endereco.end_estado %></td>
                                <td><%= endereco.end_cep %></td>
                                <td><%= endereco.end_numero %></td>
                                <td>
                                    <div class="botoes_resultado">
                                        <a class="atualizar" href="#">Atualizar</a>
                                    </div>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        
        </div>
    </div>

    <script type="module" src="/scripts/endCobranca.js"></script>
</body>
</html>