<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/usuario/contas/cadastroStyle.css">
    <link rel="stylesheet" href="/style/usuario/contas/scriptsStyle.css">
    <link rel="stylesheet" href="/style/adm/recursosBasicos.css">
    <link rel="icon" href="/imagens/livro-16.ico">
</head>
<body>

    <header>
        <nav class="main-nav">
            <a class="home-link">Home</a>
            <div class="nav-botao">
                <button id="Clientes">Clientes</button>
                <button id="inativos">Inativos</button>
            </div>
        </nav>
        
        <nav class="usuario-nav">
            <div class="usuario-sessao">
                <span class="usuario-nome" id="adm-name-display"></span>
                <img src="/imagens/avatar.jpg" alt="Imagem do usuário" class="usuario-imagem">
            </div>
        </nav>
    </header>

    <div class="main">
        <!--Barra lateral de Navegação-->
        <div class="sidenav">
            <a id="pedidos">Pedidos</a>
            <a id="estoque">Estoque</a>
            <a id="analise">Análise</a>
        </div>

        <div class="conteudo">
            <div class="main-cartoes">
                <div class="bloco_titulo">
                    <h1 class="titulo">Cartões</h1>
                </div>
                
                <br>

                <div class="genero">
                    <label class="label_genero">Cartões</label>
                    <select class="selecao" name="preferencia" id="preferencia">
                        <% cartoes.forEach(cartao => { %>
                            <option value="<%= cartao.crt_id%>"><%= cartao.crt_numero%></option>
                        <% }); %>
                    </select>
                </div>

                <div class="table_div">
                    <table>
                        <thead>
                            <tr>
                                <th>Bandeira</th>
                                <th>Nome do Titular</th>
                                <th>Número</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% cartoes.forEach(cartao => { %>
                                <tr class="cartoes-mostrado">
                                    <td class="cartoes-id"><%= cartao.crt_id %></td>
                                    <td><%= cartao.crt_bandeira %></td>
                                    <td><%= cartao.crt_nome %></td>
                                    <td><%= cartao.crt_numero %></td>
                                    <td>
                                        <div class="botoes_resultado">
                                            <a class="atualizar" href="#">Atualizar</a>
                                        </div>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <br>

            <div class="botoes">
                    <button class="adicionar" type="button">Adiconar</button>
            </div>
        </div>
    </div>

    <div class="chat">
    <div class="header">
        <h3>Assistente Virtual</h3>
        <button class="close-chat">X</button>
    </div>
    <div class="screen"></div>
    <div class="input">
        <input type="text" placeholder="Digite sua mensagem...">
        <button id="ai-button">Enviar</button>
    </div>
    </div>
    
    <script type="module" src="/scripts/contas/adm/cartao.js"></script>
    <script type="module" src="/scripts/base/adm/navbarAdm.js"></script>
    <script type="module" src="/scripts/base/adm/sidebarAdm.js"></script>
</body>
</html>