<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/adm/recursosBasicos.css">
    <link rel="stylesheet" href="/style/adm/contas/admContasStyle.css">
    <link rel="stylesheet" href="/style/adm/contas/scriptsStyle.css">
    <link rel="icon" href="/imagens/livro-16.ico">
</head>
<body>

    <header>
        <nav class="main-nav">
            <a class="home-link">Home</a>
            <div class="nav-botao">
                <button id="Clientes">Clientes</button>
                <button id="inativos">Inativos</button>
            </div>
        </nav>
        
        <nav class="usuario-nav">
            <div class="usuario-sessao">
                <span class="usuario-nome" id="adm-name-display"></span>
                <img src="/imagens/avatar.jpg" alt="Imagem do usuário" class="usuario-imagem">
            </div>
        </nav>
    </header>

    <div class="main">
        <!--Barra lateral de Navegação-->
        <div class="sidenav">
            <a id="pedidos">Pedidos</a>
            <a id="estoque">Estoque</a>
            <a id="analise">Análise</a>
        </div>

        <div class="conteudo">

            <div class="bloco_titulo">
                <h1 class="titulo">Gerenciar Usuários</h1>
            </div>
            
            <br>

            <div class="linha_centralizada">
                <button class="botao_menu2">Cadastrar Usuário</button>
            </div>
            
            </br>

            <!--Input de Nome-->
            <div class="linha_centralizada">
                <div class="nome">
                    <label class="label" for="nome">Nome</label>
                    <input class="nome_input" type="text" id="nome" name="nome">
                </div>
                <button type="button" id="pesquisa-botao">🔍</button>
            </div>
                
            </br>

            <div class="linha_centralizada">
                <button class="botao-mais-filtro">Mais opções de filtragem</button>
            </div>

            </br>              

            <!--Input de Email-->
            <div class="linha_centralizada">
            <div class="email hidden">
                <label class="label" for="email">E-mail</label>
                <input class="email_input" type="text" id="email" name="email">
            </div>
            </div>
                    
            <!--Input de CPF-->
            <div class="linha_centralizada">
            <div class="cpf hidden">
                <label class="label" for="cpf">CPF</label>
                <input class="cpf_input" type="number" id="cpf" name="cpf">
            </div>
            </div>

            <!--Input de data e Telefone-->
            <div class="linha_centralizada">
                <div class="data_div hidden">
                    <label class="label_pequena" for="data_nascimento">Data</label>
                    <input type="date" id="data_nascimento" name="data_nascimento">
                </div>

                <div class="telefone hidden">
                    <label class="label_pequena" for="telefone1">Telefone</label>
                    <input class="telefone_input" type="text" id="telefone1" name="telefone1">
                </div>
            </div>

            <!--Input de Gênero-->
            <div class="genero hidden">
                <label class="label_genero">Gênero</label>
                <select class="selecao" id="genero" name="genero">
                    <option value="">Selecione</option>
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                    <option value="NB">Não Binário</option>
                </select>
            </div>

            </br class="hidden">

            <div class="table_div">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>CPF</th>
                            <th>Genero</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% usuarios.forEach(usuario => { %>
                            <tr>
                                <td></td>
                                <td><%= usuario.usr_nome %></td>
                                <td><%= usuario.usr_email %></td>
                                <td><%= usuario.usr_cpf %></td>
                                <td><%= usuario.usr_genero %></td>
                                <td id="usuario-data" data-usuario-id="<%= usuario.usr_id %>">
                                    <div class="botoes_resultado">
                                        <a class="atualizar">Atualizar</a>
                                        <a class="inativar">Inativar</a>
                                    </div>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="module" src="/scripts/contas/adm/consultaUsuario.js"></script>
    <script type="module" src="/scripts/base/adm/navbarAdm.js"></script>
    <script type="module" src="/scripts/base/adm/sidebarAdm.js"></script>

</body>
</html>