<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/usuario/contas/cadastroStyle.css">
    <link rel="stylesheet" href="/style/usuario/contas/scriptsStyle.css">
    <link rel="stylesheet" href="/style/adm/recursosBasicos.css">
    <link rel="icon" href="/imagens/livro-16.ico">
</head>
<body>

    <header>
        <nav class="main-nav">
            <a class="home-link">Home</a>
            <div class="nav-botao">
                <button id="Clientes">Clientes</button>
                <button id="inativos">Inativos</button>
            </div>
        </nav>
        
        <nav class="usuario-nav">
            <div class="usuario-sessao">
                <span class="usuario-nome" id="adm-name-display"></span>
                <img src="/imagens/avatar.jpg" alt="Imagem do usuário" class="usuario-imagem">
            </div>
        </nav>
    </header>

    <div class="main">
        <!--Barra lateral de Navegação-->
        <div class="sidenav">
            <a id="pedidos">Pedidos</a>
            <a id="estoque">Estoque</a>
            <a id="analise">Análise</a>
        </div>

        <div class="conteudo">
            <div class="container-endereco">
                <div class="bloco_titulo">
                    <h1 class="titulo">Atualização de End. Cobranca</h1>
                </div>

                <form class="container-forms-endereco">

                    <div class="endereco-id" data-endereco-id="<%= Array.isArray(enderecos) ? enderecos[0]?.end_id : enderecos?.end_id %>"></div>
                    
                    <div class="endereco_cobranca">
                        <!--Primeira Linha-->
                        <div class="linha_centralizada">
                            <div class="cidade">
                                <label class="label_pequena" for="cidade">Cidade</label>
                                <input class="cidade_input" type="text" id="cidade" name="cidade" value="<%=enderecos[0].end_cidade%>" required>
                            </div>

                            <div class="bairro">
                                <label class="label_pequena" for="bairro">Bairro</label>
                                <input class="cidade_input" type="text" id="bairro" name="bairro" value="<%=enderecos[0].end_bairro%>" required>
                            </div>

                            <div class="estado">
                                <label class="label_genero">Estado</label>
                                <select class="selecao" id="estado" name="estado" required>
                                    <option value="">Selecione</option>
                                    <option value="AC" <%= enderecos[0]?.end_estado === 'AC' ? 'selected' : '' %>>AC</option>
                                    <option value="AL" <%= enderecos[0]?.end_estado === 'AL' ? 'selected' : '' %>>AL</option>
                                    <option value="AP" <%= enderecos[0]?.end_estado === 'AP' ? 'selected' : '' %>>AP</option>
                                    <option value="AM" <%= enderecos[0]?.end_estado === 'AM' ? 'selected' : '' %>>AM</option>
                                    <option value="BA" <%= enderecos[0]?.end_estado === 'BA' ? 'selected' : '' %>>BA</option>
                                    <option value="CE" <%= enderecos[0]?.end_estado === 'CE' ? 'selected' : '' %>>CE</option>
                                    <option value="DF" <%= enderecos[0]?.end_estado === 'DF' ? 'selected' : '' %>>DF</option>
                                    <option value="ES" <%= enderecos[0]?.end_estado === 'ES' ? 'selected' : '' %>>ES</option>
                                    <option value="GO" <%= enderecos[0]?.end_estado === 'GO' ? 'selected' : '' %>>GO</option>
                                    <option value="MA" <%= enderecos[0]?.end_estado === 'MA' ? 'selected' : '' %>>MA</option>
                                    <option value="MT" <%= enderecos[0]?.end_estado === 'MT' ? 'selected' : '' %>>MT</option>
                                    <option value="MS" <%= enderecos[0]?.end_estado === 'MS' ? 'selected' : '' %>>MS</option>
                                    <option value="MG" <%= enderecos[0]?.end_estado === 'MG' ? 'selected' : '' %>>MG</option>
                                    <option value="PA" <%= enderecos[0]?.end_estado === 'PA' ? 'selected' : '' %>>PA</option>
                                    <option value="PB" <%= enderecos[0]?.end_estado === 'PB' ? 'selected' : '' %>>PB</option>
                                    <option value="PR" <%= enderecos[0]?.end_estado === 'PR' ? 'selected' : '' %>>PR</option>
                                    <option value="PE" <%= enderecos[0]?.end_estado === 'PE' ? 'selected' : '' %>>PE</option>
                                    <option value="PI" <%= enderecos[0]?.end_estado === 'PI' ? 'selected' : '' %>>PI</option>
                                    <option value="RJ" <%= enderecos[0]?.end_estado === 'RJ' ? 'selected' : '' %>>RJ</option>
                                    <option value="RN" <%= enderecos[0]?.end_estado === 'RN' ? 'selected' : '' %>>RN</option>
                                    <option value="RS" <%= enderecos[0]?.end_estado === 'RS' ? 'selected' : '' %>>RS</option>
                                    <option value="RO" <%= enderecos[0]?.end_estado === 'RO' ? 'selected' : '' %>>RO</option>
                                    <option value="RR" <%= enderecos[0]?.end_estado === 'RR' ? 'selected' : '' %>>RR</option>
                                    <option value="SC" <%= enderecos[0]?.end_estado === 'SC' ? 'selected' : '' %>>SC</option>
                                    <option value="SP" <%= enderecos[0]?.end_estado === 'SP' ? 'selected' : '' %>>SP</option>
                                    <option value="SE" <%= enderecos[0]?.end_estado === 'SE' ? 'selected' : '' %>>SE</option>
                                    <option value="TO" <%= enderecos[0]?.end_estado === 'TO' ? 'selected' : '' %>>TO</option>
                                </select>
                            </div>
                        </div>

                        <!--Segunda Linha-->
                        <div class="linha_centralizada">
                            <div class="endereco">
                                <label class="label_pequena" for="endereco">Endereço</label>
                                <input class="endereco_input" type="text" id="endereco" name="endereco" value="<%=enderecos[0].end_endereco%>" required>
                            </div>

                            <div class="numero">
                                <label class="label_pequena" for="numero">Nº.</label>
                                <input class="numero_input" type="number" id="numero" name="numero" value="<%=enderecos[0].end_numero%>" required>
                            </div>
                        </div>

                        <!--Terceira Linha-->
                        <div class="linha_centralizada">
                            <div class="cidade">
                                <label class="label_pequena" for="complemento">Complemento</label>
                                <input class="cidade_input" type="text" id="complemento" name="complemento_e" value="<%=enderecos[0].end_complemento%>">
                            </div>

                            <div class="bairro">
                                <label class="label_pequena" for="cep">CEP</label>
                                <input class="cidade_input" type="text" id="cep" name="cep" value="<%=enderecos[0].end_cep%>" required>
                            </div>
                        </div>
                    </div>
                    
                    <div class="linha_centralizada">
                        <button class="atualizar">Atualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    
    <script type="module" src="/scripts/contas/adm/endCobrancaAtualizar.js"></script>
    <script type="module" src="/scripts/base/adm/navbarAdm.js"></script>
    <script type="module" src="/scripts/base/adm/sidebarAdm.js"></script>
</body>
</html>