<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="icon" href="/imagens/livro-16.ico">
</head>
<body>

    <header>
        <nav class="main-nav">
            <a class="home-link">Home</a>
            <div class="nav-botao">
                <button>Histórico</button>
                <button id="botao-carrinho">Carrinho</button>
                <button>Trocas</button>
                <button>Chatbot</button>
            </div>
        </nav>
        
        <nav class="usuario-nav">
            <div class="barra-pesquisa">
                <input type="text" id="navbarInput" placeholder="Pesquisar...">
                <button id="navbarBotaoPesquisa">🔍</button>
            </div>
            
            <div class="usuario-sessao">
                <div id="user-data" data-user-id="<%= Array.isArray(usuario) ? usuario[0]?.usr_id : usuario?.usr_id %>" style="display:none;"></div>
                <span class="usuario-nome"><%= Array.isArray(usuario) ? usuario[0]?.usr_nome : usuario?.usr_nome %></span>
                <img src="/imagens/graficoLinha.PNG" alt="Imagem do usuário" class="usuario-imagem">
            </div>
        </nav>
    </header>

    <div class="main">
        <!--Barra lateral de Navegação-->
        <div class="sidenav">
            <a href="/">Opção</a>
        </div>

        <!--Div usada para centralizar o conteudo para da página além da barra lateral-->
        <div class="conteudo">
            <div class="bloco_titulo">
                <h1 class="titulo">Carrinho</h1>
            </div>

            <br>

            <div class="table_div">
                <table>
                    <thead>
                        <tr>
                            <th style="width: 400px;">Livro</th>
                            <th style="width: 100px;">Valor</th>
                            <th style="width: 100px;">Desconto (%)</th>
                            <th style="width: 80px;">Qtd.</th>
                            <th style="width: 180px;">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (carrinhos && carrinhos.length > 0) { %>
                            <% carrinhos.forEach(carrinho => { %>
                                <tr>
                                    <td><%= livros.lvr_titulo %></td>
                                    <td><%= carrinho.atr_nome || 'N/A' %></td>
                                    <td><%= carrinho.edi_nome || 'N/A' %></td>
                                    <td><%= carrinho.lvr_ano %></td>
                                    <td>R$<%= Number(carrinho.lvr_custo) %></td>
                                    <td>
                                        <div class="botoes_resultado">
                                            <a class="atualizar" href="/livros/<%= livro.lvr_id %>">Detalhes</a>
                                        </div>
                                    </td>
                                </tr>
                            <% }); %>
                        <% } else { %>
                            <tr>
                                <td colspan="6">Nenhum livro encontrado</td>
                            </tr>
                        <% } %>
                    </tbody>
                    <tfoot class="footable">
                        <tr>
                        <td>Subtotal</td>
                        <td></td>
                        <td>R$ 0,00</td>
                        <td></td>
                        <td class="subtotal">R$ 340,00</td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <br>

            <!--Input de Botões-->
            <div class="botoes">
                <button class="cancelar" type="button" id="Cancelar">Voltar</button>
                <input type="submit" id="submit" name="submit" value="Comprar">
            </div>

        </div>
    </div>
    
    <!--Script do Submit-->
    <script type="module" src="/scripts/navbar.js"
    <script type="module" src="/scripts/carrinho.js"></script>
</body>
</html>