<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Cartões Cadastrados</title>
</head>
<body>

    <div class="main">
        <div class="main-cartoes">
            <div class="bloco_titulo">
                <h1 class="titulo">Cartões</h1>
            </div>
            
            <br>

            <div class="genero">
                <label class="label_genero">Cartões</label>
                <select class="selecao" name="preferencia" id="preferencia">
                    <% cartoes.forEach(cartao => { %>

                        <option value=""><%= cartao.crt_bandeira%></option>

                    <% }); %>
                </select>
            </div>

            <div class="table_div">
                <table>
                    <thead>
                        <tr>
                            <th>Bandeira</th>
                            <th>Nome do Titular</th>
                            <th>Número</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% cartoes.forEach(cartao => { %>
                            <tr class="cartoes-mostrado">
                                <td class="cartoes-id"><%= cartao.crt_id %></td>
                                <td><%= cartao.crt_bandeira %></td>
                                <td><%= cartao.crt_nome %></td>
                                <td><%= cartao.crt_numero %></td>
                                <td>
                                    <div class="botoes_resultado">
                                        <a class="atualizar" href="#">Atualizar</a>
                                    </div>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="module" src="/scripts/cartao.js"></script>
</body>
</html>