<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <!--Barra lateral de Navegação-->
    <div class="sidenav">
        <a href="index.ejs">Menu</a>
        <a href="cadastrarUsuario.ejs">Cadastrar</a>
        <a href="consultarUsuario.ejs">Consultar</a>
        <a href="atualizarUsuario.ejs">Atualizar</a>
    </div>
    

    <div class="conteudo">
        <div class="main">

            <div class="bloco_titulo">
                <h1 class="titulo">Mostrar Usuarios</h1>
            </div>
            
            <br>

            <div class="linha_centralizada">
                <a class="botao_menu2" href="/cadastrarUsuario">Cadastrar Usuário</a>
            </div>
                            

            <div class="table_div">
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>CPF</th>
                            <th>Genero</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% usuarios.forEach(usuario => { %>
                            <tr>
                                <td class="usuario-id"><%= usuario.usr_id %></td>
                                <td><%= usuario.usr_nome %></td>
                                <td><%= usuario.usr_email %></td>
                                <td><%= usuario.usr_cpf %></td>
                                <td><%= usuario.usr_genero %></td>
                                <td>
                                    <div class="botoes_resultado">
                                        <a class="atualizar" href="#" >Atualizar</a>
                                        <a class="inativar" href="#" >Inativar</a>
                                    </div>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="module" src="/scripts/consultaUsuario.js"></script>
</body>
</html>