<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/usuario/livrosPaginaStyle.css">
    <link rel="stylesheet" href="/style/usuario/recursosBasicos.css">
    <link rel="icon" href="/imagens/livro-16.ico">
</head>
<body>

    <header>
        <nav class="main-nav">
            <a class="home-link">Home</a>
            <div class="nav-botao">
                <button>Histórico</button>
                <button id="botao-carrinho">Carrinho</button>
                <button>Trocas</button>
                <button id="botao-chatbot-navbar">Chatbot</button>
            </div>
        </nav>
        
        <nav class="usuario-nav">
            <div class="notificacao-container">
                <img src="/imagens/notificacao.png" alt="Notificações" class="notificacao-icone" hidden>
                <div class="notificacao-submenu" >
                    <div class="notificacoes-lista"></div>
                </div>
            </div>

            <div class="barra-pesquisa">
                <input type="text" id="navbarInput" placeholder="Pesquisar...">
                <button id="navbarBotaoPesquisa">🔍</button>
            </div>
            
            <div class="usuario-sessao">
                <span class="usuario-nome" id="user-name-display"></span>
                <img src="/imagens/avatar.jpg" alt="Imagem do usuário" class="usuario-imagem">
            </div>
        </nav>
    </header>

    <div class="main">
        <!--Barra lateral de Navegação-->
        <div class="sidenav">
            <a id="cadastro-side-btn">Cadastrar</a>
            <a id="senha-side-btn">Atualizar Senha</a>
            <a id="atualizar-side-btn">Atualizar Cadastro</a>
            <a id="cartao-side-btn">Cartões</a>
            <a id="end-entrega-side-btn">End. Entrega</a>
            <a id="end-cobranca-side-btn">End. Cobranca</a>
        </div>

        <div class="conteudo">
            <br>
            <br>

            <div class="capa-livro">
                <div class="linha_centralizada">
                    <div class="coluna">
                        <div class="titulo-livro">
                            <h1><%= livro.lvr_titulo %></h1>
                        </div>
                        <img class="imagem-capa" src="/imagens/<%= livro.lvr_ponteiro_imagem || '/imagens/it.jpg' %>">
                    </div>

                    <div class="coluna">
                        <div class="bloco_texto2">
                            <div>
                                <p><%= livro.lvr_sinopse %></p>
                            </div>
                            <div>
                                <p>Editora: <%= livro.edi_nome || 'N/A' %></p>
                                <p>Autor: <%= livro.atr_nome || 'N/A' %></p>
                                <p><%= livro.lvr_edicao %>, <%= Number(livro.lvr_ano) %></p>
                                <br>
                                <div class="linha-categoria">
                                    <a class="categorias"><%= livro.cat_nome || 'N/A' %></a>
                                    <button class="categorias-botao">+</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>

            <br>

            <div class="estoque-div">
                <% if (livro.emEstoque) { %>
                    <span class="estoque">Em Estoque</span>
                    <span class="estoque hidden">Sem Estoque</span>
                <% } else { %>
                    <span class="estoque hidden">Em Estoque</span>
                    <span class="estoque">Sem Estoque</span>
                <% } %>     
            </div>


            <div class="preco-desconto-carrinho-container" data-livro-id="<%= livro.lvr_id %>">
                <div class="coluna">
                    <a class="texto-adicionar">Comprar Produto?</a>
                </div>
                <div class="coluna">
                    <p></p>
                    <p></p>
                    <div class="desconto-adicionar">
                        <table>
                            <thead>
                                <tr>
                                    <th class="desconto-do-produto"><%= Number(livro.lvr_desconto) %>% de Desconto</th>
                                    <th class="valor-produto">R$ <%= Number(livro.lvr_custo) %></th>
                                    <th class="adicionar-produto">Adicionar ao Carrinho</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

            <br>

            <div class="bloco_texto3">
                <p>Sinopse Completa: <%= livro.lvr_sinopse %></p>
                <br>
                <p>Autor:<%= livro.atr_nome || 'N/A' %></p>
                <p><%= livro.edi_nome || 'N/A' %></p>
                <p><%= livro.lvr_edicao %>, <%= Number(livro.lvr_ano) %></p>
                <br>
                <p>Dimensões:</p>
                <p>Altura: <%= Number(livro.lvr_altura) %>cm</p>
                <p>Largura: <%= Number(livro.lvr_largura) %>cm</p>
                <p>Peso: <%= Number(livro.lvr_peso) %>g</p>
                <p>Profundidade: <%= Number(livro.lvr_profundidade) %>cm</p>
                <br>
                <p>ISBN: <%= livro.lvr_isbn %></p>
                <p>Código de Barras: <%= livro.lvr_codigo_de_barras %></p>
            </div>


        </div>
    </div>

    <div class="chat">
    <div class="header">
        <h3>Assistente Virtual</h3>
        <button class="close-chat">X</button>
    </div>
    <div class="screen"></div>
    <div class="input">
        <input type="text" placeholder="Digite sua mensagem...">
        <button id="ai-button">Enviar</button>
    </div>
    </div>
    

    <script type="module" src="/scripts/base/usuario/navbar.js"></script>
    <script type="module" src="/scripts/base/usuario/livroPagina.js"></script>
    <script type="module" src="/scripts/base/usuario/aiChatBot.js"></script>
    <script type="module" src="/scripts/contas/usuario/sidebar.js"></script>
</body>
</html>