<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="icon" href="/imagens/livro-16.ico">
</head>
<body>

    <header>
        <nav class="main-nav">
            <a class="home-link">Home</a>
            <div class="nav-botao">
                <button>Histórico</button>
                <button id="botao-carrinho">Carrinho</button>
                <button>Trocas</button>
                <button id="botao-chatbot-navbar">Chatbot</button>
            </div>
        </nav>
        
        <nav class="usuario-nav">
            <div class="notificacao-container">
                <img src="/imagens/notificacao.png" alt="Notificações" class="notificacao-icone" hidden>
                <div class="notificacao-submenu" >
                    <div class="notificacoes-lista"></div>
                </div>
            </div>
            
            <div class="barra-pesquisa">
                <input type="text" id="navbarInput" placeholder="Pesquisar...">
                <button id="navbarBotaoPesquisa">🔍</button>
            </div>
            
            <div class="usuario-sessao">
                <div id="user-data" data-user-id="<%= Array.isArray(usuario) ? usuario[0]?.usr_id : usuario?.usr_id %>" style="display:none;"></div>
                <span class="usuario-nome"><%= Array.isArray(usuario) ? usuario[0]?.usr_nome : usuario?.usr_nome %></span>
                <img src="/imagens/graficoLinha.PNG" alt="Imagem do usuário" class="usuario-imagem">
            </div>
        </nav>
    </header>

    <div class="main">
        <!--Barra lateral de Navegação-->
        <div class="sidenav">
            <a href="/">Opção</a>
        </div>

        <!--Div usada para centralizar o conteudo para da página além da barra lateral-->
        <div class="conteudo">
            <div class="bloco_titulo">
                <h1 class="titulo">Seleção de Troca</h1>
            </div>

            <br>

            <div class="table_div">
                <table class="" id="tabela-carrinho">
                    <thead>
                        <tr>
                            <th style="width: 400px;">Livro</th>
                            <th style="width: 100px;">Valor</th>
                            <th style="width: 100px;">Qtd. Máx.</th>
                            <th style="width: 80px;">Qtd.</th>
                            <th style="width: 150px;">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (itensVenda && itensVenda.length > 0) { %>
                            <% itensVenda.forEach(item => { %>
                                <tr data-lvr-id="<%= item.livro.livros_lvr_id %>">
                                    <td><%= item.livro.lvr_titulo %></td>
                                    <td>R$ <%= item.livro.lvr_custo %></td>
                                    <td class="qtd-max"><%= item.quantidade_maxima %></td>
                                    <td class="qtd-atual"><%= item.quantidade_selecionada %></td>
                                    <td>
                                        <div class="botoes_resultado">
                                            <button class="atualizar">Atualizar</button>
                                        </div>
                                    </td>
                                </tr>
                            <% }); %>
                        <% } else { %>
                            <tr>
                                <td colspan="6">Nenhum item disponível para troca</td>
                            </tr>
                        <% } %>
                    </tbody>
                    <tfoot class="footable">
                        <tr>
                            <td colspan="4">Subtotal</td>
                            <td class="subtotal">R$ <span id="subtotal-valor"><%= subtotalTotal %></span></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            

            <br>

            <!--Input de Botões-->
            <div class="botoes">
                <button class="cancelar" type="button" id="Cancelar">Voltar</button>
                <button class="comprar" type="button" id="trocar">Confirmar</button>
            </div>
        </div>
    </div>

    <div class="chat">
    <div class="header">
        <h3>Assistente Virtual</h3>
        <button class="close-chat">X</button>
    </div>
    <div class="screen"></div>
    <div class="input">
        <input type="text" placeholder="Digite sua mensagem...">
        <button id="ai-button">Enviar</button>
    </div>
    </div>

    <script id="tra-data" type="application/json">
        <%- JSON.stringify([tra_id]) %>
    </script>

    <script id="end-data" type="application/json">
        <%- JSON.stringify([endereco.end_id]) %>
        <% console.log(endereco.end_id); %>
    </script>
    
    <script type="module" src="/scripts/navbar.js"></script>
    <script type="module" src="/scripts/selecaoTroca.js"></script>
</body>
</html>