<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/usuario/recursosBasicos.css">
    <link rel="stylesheet" href="/style/usuario/transacao/transacaoUsuarioStyle.css">
    <link rel="stylesheet" href="/style/usuario/transacao/scriptsStyle.css">
    <link rel="icon" href="/imagens/livro-16.ico">
</head>
<body>

    <header>
        <nav class="main-nav">
            <a class="home-link">Home</a>
            <div class="nav-botao">
                <button id="historico">Histórico</button>
                <button id="botao-carrinho">Carrinho</button>
                <button id="botao-chatbot-navbar">Chatbot</button>
            </div>
        </nav>
        
        <nav class="usuario-nav">
            <div class="notificacao-container">
                <img src="/imagens/notificacao.png" alt="Notificações" class="notificacao-icone" hidden>
                <div class="notificacao-submenu" >
                    <div class="notificacoes-lista"></div>
                </div>
            </div>
            
            <div class="barra-pesquisa">
                <input type="text" id="navbarInput" placeholder="Pesquisar...">
                <button id="navbarBotaoPesquisa">🔍</button>
            </div>
            
            <div class="usuario-sessao">
                <span class="usuario-nome" id="user-name-display"></span>
                <img src="/imagens/avatar.jpg" alt="Imagem do usuário" class="usuario-imagem">
            </div>
        </nav>
    </header>

    <div class="main">
        <!--Barra lateral de Navegação-->
        <div class="sidenav">
            <a id="cadastro-side-btn">Cadastrar</a>
            <a id="senha-side-btn">Atualizar Senha</a>
            <a id="atualizar-side-btn">Atualizar Cadastro</a>
            <a id="cartao-side-btn">Cartões</a>
            <a id="end-entrega-side-btn">End. Entrega</a>
            <a id="end-cobranca-side-btn">End. Cobranca</a>
        </div>

        <!--Div usada para centralizar o conteudo para da página além da barra lateral-->
        <div class="conteudo">
            <div class="bloco_titulo">
                <h1 class="titulo">Histórico de Transações</h1>
            </div>

            <br>
            
            <div class="table_div">
                <table>
                    <thead>
                        <tr>
                            <th style="width: 100px;">Data</th>
                            <th style="width: 100px;">Valor Total</th>
                            <th style="width: 150px;">Formas de Pagamento</th>
                            <th style="width: 150px;">Status</th>
                            <th style="width: 150px;">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (transacoes && transacoes.length > 0) { %>
                            <% transacoes.forEach(transacao => { %>
                                <tr>
                                    <td><%= transacao.tra_data_formatada %></td>
                                    <td>R$ <%= transacao.tra_valor %></td>
                                    <td>
                                        <% transacao.formasPagamento.forEach((forma, index) => { %>
                                            <%= forma.fpg_tipo %> (R$ <%= forma.fpg_valor %>)<% if(index < transacao.formasPagamento.length - 1) { %>, <% } %>
                                        <% }); %>
                                    </td>
                                    <td><%= transacao.tra_status %></td>
                                    <td>
                                        <div class="botoes_resultado">
                                            <a class="ver_mais" href="/pagamento/detalhes?tra_id=<%= transacao.tra_id %>">Ver Mais</a>
                                        </div>
                                    </td>
                                </tr>
                            <% }); %>
                        <% } else { %>
                            <tr>
                                <td colspan="7">Nenhuma transação encontrada</td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="chat">
    <div class="header">
        <h3>Assistente Virtual</h3>
        <button class="close-chat">X</button>
    </div>
    <div class="screen"></div>
    <div class="input">
        <input type="text" placeholder="Digite sua mensagem...">
        <button id="ai-button">Enviar</button>
    </div>
    </div>


    <script type="module" src="/scripts/base/usuario/navbar.js"></script>
    <script type="module" src="/scripts/base/usuario/aiChatBot.js"></script>
    <script type="module" src="/scripts/contas/usuario/sidebar.js"></script>
</body>
</html>